

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


nav {
	background-color:rgba(255,255,255,.95);
	z-index:1;
	position:relative;
	.container {
		max-width:1000px;
	}
	#logo {
		display:inline-block;
		img {
			width:215px;
			height:70px;
			padding:1em;
			box-sizing:content-box;
			vertical-align:middle;
		}
	}
	ul {
		display:inline-block;
		vertical-align:middle;
		text-align:right;
		margin:0;
		padding:0;
		li {
			display:inline-block;
			a {
				display:block;
				padding:20px 20px;
			}
		}
	}
}
#page-wrapper {
}
.container {
	margin:auto;
	max-width:900px;
	width:100%;
}
.jumbotron {
	margin-top:-98px;
	padding-top:118px;
	padding-bottom:0;
	background-color:red;
}
#content-top {
	background-color:rgba(255,255,255,.95);
}











