<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Iowa Soybean Association | Home</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bootstrap.min.css">

  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
            <div id="content-top">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <a class="btn btn-primary">Learn about policy membership <i class="fa fa-chevron-circle-right"></i></a>
                    <div class="search-group">
                      <input type="search" placeholder="Search by topic or keyword"/>
                      <input type="submit" class="btn btn-primary" value="search"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <nav role="navigation">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 logo">
                    <a href="#" id="logo">
                      <img src="img/logo.png">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <ul>
                      <li>
                        <a href="#">About ISA</a>
                      </li>
                      <li>
                        <a href="#">Bean Blog</a>
                      </li>
                      <li>
                        <a href="#">Related Organizations</a>
                      </li>
                      <li>
                        <a href="#">Communications</a>
                      </li>
                      <lI>
                        <a href="#">Programs</a>
                      </li>
                      <li>
                        <a href="#">Contact</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-1"></div>
                </div>
              </div>
            </nav>

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                  <div id="slider">
                    <div class="slide" style="background-image:url(img/dummy.jpg)">
                      <aside class="col-sm-4">
                        <h2>ISA Programs</h2>
                        <h3>help farmers provide food, feed, and fuel for the world while protecting and concerving natural resources</h3>
                        <ul class="buttons">
                          <li><a href="#" class="btn btn-primary">learn more <i class="fa fa-chevron-circle-right"></i></a>
                          </li>
                        </ul>
                      </aside>
                    </div>
                </div>
            </div>

            <div class="container" id="content-main">
              <!-- Example row of columns -->
              <div class="row sticky">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                  <div class="sticky-img">
                    <img src="img/50-logo.png"/>
                  </div>
                  <div class="sticky-story">
                  <h1>Focused on the Future</h1>
                  <p>There’s a quiet revolution going on. It has been gaining momentum for 50 years, as Iowa’s soybean growers have planted the seeds of change to make Iowa a leader in agriculture innovation and sustainability worldwide.</p>
                  <p>
                    The farmer leaders who founded the Iowa Soybean Association (ISA) in 1964 knew that partnering to produce results was the key to stronger rural communities and a stronger Iowa. Opportunities continue to expand as today’s ISA members find new solutions to produce higher yields, ensure healthier food production, provide alternative energy options and create new commercial technologies for valuable soy byproducts. </p>

                    <p>They do all this by supporting the soybean checkoff, which enhances the value of their soybean...</p>
                    <ul class="buttons">
                      <li>
                        <a class="btn btn-secondary">watch the video<i class="fa fa-youtube-play"></i></a>
                      </li>
                      <li>
                        <a class="btn btn-primary">continue reading<i class="fa fa-chevron-circle-right"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-1"></div>
              </div>

                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-7 content-left">
                    <div class="story">
                      <div class="story-img">
                        <img src="img/placeholder-1.jpg"/>
                      </div>
                      <div class="story-teaser">
                        <h2>Iowa Soybean Farmers Hope Additional Moisture Will Boost Yields, Profits</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar cursus rutrum. Aenean placerat enim sit amet libero auctor ornare. Mauris id nibh et eros facilisis interdum vel ac magna. Vivamus porta arcu justo, eu egestas lacus volutpat ut. Pellentesque consectetur sed ipsum at ultrices. Maecenas a tincidunt nisi, molestie fermentum...</p>
                      </div>
                    </div>
                    <div class="story">
                      <div class="story-img">
                        <img src="img/placeholder-2.jpg"/>
                      </div>
                      <div class="story-teaser">
                        <h2>Iowa Soybean Association Strengthens Relationships With Soybean Buyers</h2>
                        <p>Proin quis tincidunt lorem, aliquam tincidunt odio. Nunc porta a enim eu consequat. Proin sed lacinia justo. Suspendisse in suscipit lorem. Aliquam egestas blandit sodales. Aenean at lectus sed nisl lobortis faucibus et ac felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas...</p>
                      </div>
                    </div>
                    <div class="story">
                      <div class="story-img">
                        <img src="img/placeholder-3.jpg"/>
                      </div>
                      <div class="story-teaser">
                        <h2>Iowa Food & Family Project Connects Record Fair Crowds With Food, Farming</h2>
                        <p>Ut volutpat, urna vulputate faucibus tincidunt, nulla urna pellentesque turpis, eu vulputate magna dui non nulla. Suspendisse vel feugiat lacus. Fusce quis suscipit risus, quis porta enim. Praesent sed massa sed quam commodo mattis et non purus. Fusce ac turpis id mi vehicula faucibus...</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 sidebar">
                    <div class="isa-now">
                      <img src="img/iowa-soybean-now.png"/>
                      <h3>October 31, 2013</h3>
                      <ul>
                        <li>
                          <a>Iowa Soybean association hires Carrie Kelly</a>
                          <p>Lorem ipsum dolar sit amet consec ta soy be im lecture...</p>
                        </li>
                        <li>
                          <a>Pron quis ticitudn lorem, alquam inducidunt odio nuc porta</a>
                          <p>Lorem ipsum dolar sit amet feugiat lacus. Fusce quconsec ta soy be im lecture...</p>
                        </li>
                      </ul>
                      <h3>October 19, 2013</h3>
                      <ul>
                        <li>
                          <a>Donar set let tomear dond</a>
                          <p>Pe habe styn io pynar me excelar</p>
                        </li>
                        <li><a>Vulputate faucibus tincidunt, nulla urna pellentesque</a>
                          <p>Lorem Ipsum dolar sit amet consec ta soy be im lecture...</p>
                        </li>
                      </ul>
                    </div>
                    <div class="twitter-feed">
                      <p>
                        <a>@laurablog</a>
                        I will be very soon. As a result of your prev recommendation on a bog post so it happens. Now just a few more letters here. <span class="time-ago">32 min ago</span>
                      </p>
                      <i class="fa fa-twitter"></i>
                      <span class="follow">follow <a>@iasoybeans</a> on Twitter</span>
                    </div>
                  </div>
                  <div class="col-sm-1"></div>

                </div>
                </div> <!-- /container --> 
                <div id="content-footer">
                  <div class="container">
                <div class="row">
                  <footer>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                      <h4>Contact us</h4>
                      <ul>
                        <li>1255 SW Prairie Trail Pkwy<br/>
                          Ankeny, Iowa 50322
                        </li>
                        <li>
                          <li>
                            <label>Phone:</label>
                            <span>800.383.1423</span>
                          </li>
                          <li>
                            <label>Fax:</label>
                            <span>515.251.8657</span>
                          </li>
                          <li><a href="#">Get directions</a></li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h4>Media Inquiries</h4>
                        <ul>
                          <li>Aaron Putze</li>
                          <li>
                            <label>Email:</label>
                            <span><a href="mailto:aputze@iasoybeans.com">aputze@iasoybeans.com</a></span>
                          </li>
                          <li>
                            <label>Office:</label>
                            <span>515.334.1099</span>
                          </li>
                          <li>
                            <label>Cell:</label>
                            <span>515.975.4168</span>
                          </li>
                          <li>
                            <label>Fax:</label>
                            <span>515.334.1126</span>
                          </li>
                        </ul>

                        <ul>
                          <li>Contact Secondary</li>
                          <li>
                            <label>Email:</label>
                            <span><a href="mailto:media@iasoybeans.com">media@iasoybeans.com</a></span>
                          </li>
                          <li>
                            <label>Office:</label>
                            <span>515.334.1099</span>
                          </li>
                          <li>
                            <label>Fax:</label>
                            <span>515.334.1126</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-2">
                        <h4>Quick links</h4>
                        <ul>
                          <li>
                            <a href="#">About</a>
                          </li>
                          <li>
                            <a href="#">Blog</a>
                          </li>
                          <li>
                            <a href="#">Related Organizations</a>
                          </li>
                          <li>
                            <a href="#">Communications</a>
                          </li>
                          <li>
                            <a href="#">Programs</a>
                          </li>
                          <li>
                            <a href="#">Contact</a>
                          </li>
                          <li>
                            <a href="#">Become a member</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <h4>Get connected</h4>
                        <ul>
                          <li>We're everywhere you are. Find us on your favorite social network!</li>
                          <li>
                            <ul class="social-media">
                              <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                              <li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                      <div class="col-sm-1"></div>
                    </footer>
                  </div>
                </div>
              </div>
                <div  id="content-footer-secondary">
                  <div class="container">
                  <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                      &copy; 2013 Iowa Soybean Association. Partially funded by the Soybean Checkoff.  
                      <a href="#" class="login">Admin/board login</a>
                    </div>
                    <div class="col-sm-1"></div>
 
                  </div>
                  </div>
                </div>
              <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
              <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

              <script src="js/vendor/bootstrap.min.js"></script>

              <script src="js/main.js"></script>

              <script>
              var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
              (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src='//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
              </script>
            </body>
            </html>