@black: #636466;
@green: #8EA25D;
@cloudy: #DADEE0;
@darkGray: #77787B;
@coolBlack:#38383A;
@lightCopy: #8A8C8E;
@contrastGray:#C7CBCB;
@smoke:#797A7D;
@fog:#E2E0DF;
@orange: #F7941E;
@tWhite: rgba(245,245,245,.9);
@white:rgb(245,245,245);
@harvest:#D2A322;
@harvestAccent:#FFD472;
@blue:#0D4D8C;
@blueAccent:#123E66;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	color:@black;
	font:14px/1.6 "Helvetica Neue",Helvetica,sans-serif;
}

h1, h2, h3, h4 {
	font-family:Georgia,"Times New Roman",serif;
	-webkit-font-smoothing:antialiased;
}
h1, h1 a{
	font-size:2em;
	font-weight:bold;
	font-style:italic;
	color:@harvest;
}
h2, h2 a {
	font-size:1.2em;
	color:@smoke;
	font-weight:bold;
	line-height:1.3;
	margin-top:0;
}
h3, h3 a{
	color:@darkGray;
	font-style:italic;
	font-size:1.1em;
	font-weight:bold;
}
h4, h4 a {
	font-weight:bold;
	font-style:italic;
}
a {
	font-weight:bold;
	color:@blue;
}
nav {
	background-color:@tWhite;
	z-index:1;
	position:relative;
	box-shadow:0 3px 5px -1px rgba(0,0,0,.3);
	text-align:center;

	#logo {
		display:inline-block;
		img {
			width:100%;
			max-width:205px;
			height:auto;
			box-sizing:content-box;
			vertical-align:middle;
		}
	}
	ul {
		display:inline-block;
		vertical-align:middle;
		text-align:right;
		padding:0;
		margin:0;
		li {
			font:15px Georgia,"Times New Roman", serif;
			font-style:italic;
			display:inline-block;
			margin-left:-3px;
			a {
				font-weight:normal;
				display:block;

				padding:20px 5px;
				color:@black;
				position:relative;
				&:after {
					position:absolute;
					content:"";
					right:-1px;
					top:20px;
					bottom:20px;
					border:1px solid @contrastGray;
					border-width:0 1px 0 0;
				}

				&:hover, &.active {
					text-decoration:none;
					color:@harvest;
				}
			}
			&:last-child {
				a {
					&:after {
						border:0;
					}
				}
			}
		}
	}
}
#page-wrapper {
}
.container {

}
.jumbotron {
	margin-top:-125px;
	margin-bottom:0;
	padding:0;
	padding-bottom:0;
	box-shadow:0 3px 3px -3px @black;
/*	background:url(../img/blurbg.jpg) center center no-repeat;
	background-size:cover;*/
	h2 {
		color:@harvest;
		font-size:1.2em;
		font-style:italic;
	}
	h3 {
		font-family:"Helvetica Neue",Helvetica,sans-serif;
		font-style:normal;
		font-weight:lighter;
		font-size:.9em;
		color:#959295;
		margin:.5em 0 0 0;
		line-height:1.4;
	}

	#slider {
		position:relative;
		.slide {
			height:550px;
			background-size:cover;
			background-repeat:no-repeat;
			background-position:center center;
		}
		img {
			width:100%;
			height:auto;
			z-index:0
		}
		aside {
			z-index:1;
			position:absolute;
			right:0;
			bottom:20px;
			padding:15px;
			background:rgba(245,245,245,.90);
			.buttons, .buttons li {
				margin:0;
			}
		}
	}
}
.not-front {
	.jumbotron {
		margin-top:-85px;
		#slider {
			height:350px;
			background-size:cover;
			background-position:center center;
		}
	}
	#content-main {
		.story {
			padding-bottom:0;
			margin-bottom:0;
			border:0;
		}
	}
	
}

.block-search {
	width:290px;
	margin:7px;
}
#content-top {
	background-color:@tWhite;
	overflow:hidden;
	position:relative;
	z-index:2;
	background:@smoke; //url(/img/witewall.png);
	text-align:right;
	.btn {
		margin:7px;
	}
	.policy {
		text-align:right;
	}
	.block {
		display:inline-block;
	}
	input {
		font-size: 12px;
		vertical-align: middle;
		&[type=text] {
			width: 200px;
			margin: 0 0 0 1em;
			padding: 2px 8px;
			line-height:1.6;
		}
		&[type=submit] {
			width: 75px;
			margin: 0 0 0 -2px;
			text-align: center;
			box-sizing: border-box;
			border-radius: 0 3px 3px 0;
			margin-left: -12px;
			line-height: 1.7;
		}
	}
}
#content-main {
	margin-top:2em;
	h1 {
		margin-top:0;
	}
	img {
	 	max-width:100%;
	 	height:auto;
	}
	.sticky {
		margin-bottom:2em;
		.sticky-img {
			text-align:center;
			margin-bottom:1em;
			padding:0 15px 15px 0;
		}
		.sticky-story {
			overflow:hidden;
			vertical-align:top;
		}
	}
	.story {
		display:table;
		margin-bottom: 2em;
		padding-bottom: 2em;
		border-bottom: 1px solid @contrastGray;
		> div {
			display:table-cell;
			float:none;
			vertical-align:top;
		}
		.story-img {
			width:27%;
			display:none;
			padding-right:30px;
		}
		h2 {
			margin-top:0;
		}
		p {
			margin-bottom:0;
		}
		&:last-child {
			border-bottom:0;
		}
		.body-img {
			display:block;
			text-align:center;
			padding-bottom:1em;

		}
		.body {
			display:block;
			p {
				margin-bottom:1em;
				&:last-child {
					margin-bottom:0;
				}
			}
		}
	}
	.sidebar {
		.block {
			h2 {
				font-size:1.2em;
			}
			ul {
				list-style-type:square;
			}
		}
	}
	.isa-now {
		h3 {
			margin-bottom:0;
		}
		> img {
			display:block;
			margin:auto;
		}
		ul {
			list-style:none;
			padding:0;
		}
		li {
			margin-bottom:15px;
		}
		p {
			font-family:"Helvetica neue",Helvetica,serif;
			color:@lightCopy;
		}
	}
	.twitter-feed {
		margin-top:2em;
		p {
			padding:1em;
			border:1px solid @cloudy;
			border-radius:3px;
			margin-bottom:0;
			position:relative;
			&:after {
				content: "";
				position: absolute;
				bottom: -21px;
				left: 30px;
				width: 28px;
				height: 25px;
				background: url(../img/twitter-callout.png) top center no-repeat;
			}
		}
		.time-ago, .follow {
			font-style:italic;
			font-size:12px;
			color:@darkGray;
			a {
				color:@darkGray;
			}
		}
		.fa-twitter {
			font-size:32px;
			float:left;
		}
		.follow {
			float:right;
		}
	}
	.gallery {
		margin-top:1em;
	}
}

#content-footer {
	font-size:13px;
	background:@darkGray;
	color:@cloudy;
	padding:1em 0;
	margin-top:2em;
	h4 {
		color:@coolBlack;
	}
	.col-lg-3 {
		border-right:1px solid #666;
		margin-right:-1px;
	}
	a, span.gc-cs-link {
		color:@cloudy;
		text-decoration:none;
		border-bottom:1px dotted @cloudy;
		font-weight:normal;
		&:hover {
			border-bottom-style:solid;
		}
	}
	label {
		font-weight:normal;
		display:inline-block;
		margin-bottom:0;
	}
	ul {
		margin:0 0 10px 0;
		padding:0;
		list-style-type:none;

	}
	.social-media {
		margin-top:1em;
		li {
			display:inline-block;
			margin-right:16px;
			a {
				border:0;
				color:@coolBlack;
				&:hover {
					border:0;
				}
			}
			&:last-child {
				margin-right:0;
			}
			i {
				font-size:42px;
				-webkit-transition:color .2s;
				&:hover {
					color:@black;
				}
				
			}
		}
	}
}
#content-footer-secondary {
	padding:.5em;
	color:@darkGray;
	background:@fog;
	text-align:center;
	font-style:italic;
	a {
		color:@darkGray;
	}
	.login {
		text-align:right;
		font-weight:normal;
		font-style:normal;
		border-bottom:1px dotted;
	}
}
@media (min-width:768px) {


	#content-main {
		
		.content-left {
			border-right:1px solid @contrastGray;
		}
		.sticky {
			.sticky-img {
				display:table-cell;
				width:165px;
				padding:0 30px 15px 0;
			}
			.sticky-story {
				display:table-cell;
				vertical-align:top;
			}
		}
		.story {
			.story-img {
				display:table-cell;
			}
		}
	}
	.sticky {
		display:table;
		> div {
			float:none;
			display:table-cell;
			&:not(:empty) {
				border-bottom:1px solid @contrastGray;
				padding-bottom:1em;
			}
		}
	}
}
@media (max-width:768px) {
	.jumbotron {
		//display:none;
	}
}
@media (min-width:768px) {
	#content-main {

		.story {
			.body-img {
				display:table-cell;
				width:27%;
				padding-right:30px;
			}
			.body {
				display:table-cell;
			}
		}
		.gallery {
			margin-left:27%;
		}
	}
}
@media (min-width:992px)  {
	nav {
		text-align:left;
		ul {
			margin-top:11px;
		}
		.logo {
			text-align:right;
			#logo {
				padding:.5em 0;
			}
		}
	}
}
@media (min-width:1200px) {
	nav ul {
		li {
			font-size:16px;
			a {
				padding:20px 14px;
			}
		}
	}
	.jumbotron {
		background-position:center -150px;
	}
}
.buttons {
	text-align:right;
	margin:10px 0;
	padding:0;
	li {
		display:inline-block;
		margin-bottom:10px;
	}
}
.btn {
	font-family:Georgia,serif;
	font-style:italic;
	padding:.2em 1em;
	margin-left:1em;
	letter-spacing:.5px;
	i {
		margin-left:.5em;
	}
	&.btn-primary {
		background-image:none;
		background:@blue;
		border:1px solid @blueAccent;
		color:@tWhite;

	}
	&.btn-secondary {
		background-image:none;
		background:@harvestAccent;
		border:1px solid @harvest;
		color:@harvest;
	}
}






