.tipsy {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}
.tipsy-inner {
  background-color: #333;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
}
/* Rounded corners */
.tipsy-inner {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}
/* Rules to colour arrows */
.tipsy-arrow-n {
  border-bottom-color: #333;
}
.tipsy-arrow-s {
  border-top-color: #333;
}
.tipsy-arrow-e {
  border-left-color: #333;
}
.tipsy-arrow-w {
  border-right-color: #333;
}
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  color: #636466;
  font: 14px/1.6 "Helvetica Neue", Helvetica, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h1 a {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  color: #d2a322;
}
h2,
h2 a {
  font-size: 1.2em;
  color: #797a7d;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 0;
}
h3,
h3 a {
  color: #77787b;
  font-style: italic;
  font-size: 1.1em;
  font-weight: bold;
}
h4,
h4 a {
  font-weight: bold;
  font-style: italic;
}
a {
  font-weight: bold;
  color: #0d4d8c;
}
#full-nav {
  display: none;
  background-color: rgba(245, 245, 245, 0.9);
  z-index: 3;
  position: relative;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#full-nav #logo {
  display: inline-block;
}
#full-nav #logo img {
  width: 100%;
  max-width: 205px;
  height: auto;
  box-sizing: content-box;
  vertical-align: middle;
}
#full-nav ul {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 0;
  margin: 0;
}
#full-nav ul li {
  font: 15px Georgia, "Times New Roman", serif;
  font-style: italic;
  display: inline-block;
  margin-left: -3px;
}
#full-nav ul li a {
  font-weight: normal;
  display: block;
  padding: 20px 5px;
  color: #636466;
  position: relative;
}
#full-nav ul li a:after {
  position: absolute;
  content: "";
  right: -1px;
  top: 20px;
  bottom: 20px;
  border: 1px solid #c7cbcb;
  border-width: 0 1px 0 0;
}
#full-nav ul li a:hover,
#full-nav ul li a.active {
  text-decoration: none;
  color: #d2a322;
}
#full-nav ul li.active-trail > a {
  text-decoration: none;
  color: #d2a322;
}
#full-nav ul li.hover > a {
  color: #c59920;
}
#full-nav ul li:last-child a:after {
  border: 0;
}
#full-nav ul ul li a:after {
  display: none;
}
.jumbotron {
  margin-top: -125px;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 0;
  box-shadow: 0 3px 3px -3px #636466;
  /*	background:url(../img/blurbg.jpg) center center no-repeat;
	background-size:cover;*/

}
.jumbotron h2 {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #d2a322;
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 0;
}
.jumbotron h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: .9em;
  color: #959295;
  margin: 0;
  line-height: 1.4;
}
.jumbotron h3:first-line {
  font-family: "Georgia", serif;
  font-weight: bold;
  color: #d2a322;
  font-size: 1.2em;
  font-style: italic;
}
.jumbotron p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-size: .9em;
  color: #959295;
  margin: 0;
  line-height: 1.4;
}
.jumbotron #slider {
  position: relative;
  height: 550px;
}
.jumbotron #slider .slide {
  height: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.jumbotron #slider img {
  width: 100%;
  height: auto;
  z-index: 0;
}
.jumbotron #slider .aside {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 20px;
  padding: 15px;
  background: rgba(245, 245, 245, 0.9);
}
.jumbotron #slider .aside .buttons,
.jumbotron #slider .aside .buttons li {
  margin: 0;
}
.jumbotron #slider .jumbotron-nav {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  width: 10%;
  opacity: .5;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */

  -webkit-transition: opacity .5s;
  cursor: pointer;
  display: none;
}
.jumbotron #slider .jumbotron-nav:hover {
  opacity: .9;
}
.jumbotron #slider .jumbotron-nav span {
  background: url(../img/slider-sprite.png) center -35px no-repeat;
  position: absolute;
  top: 50%;
  height: 130px;
  left: 0;
  right: 0;
}
.jumbotron #slider .jumbotron-nav.jumbotron-next {
  right: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */

}
.jumbotron #slider .jumbotron-nav.jumbotron-next span {
  top: 50%;
  background-position: center -192px;
}
.jumbotron #slider .jumbotron-nav.jumbotron-prev {
  left: 0;
}
.jumbotron #slider .slide {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 550px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  z-index: 0;
}
.jumbotron #slider .slide.on {
  opacity: 1;
  z-index: 1;
}
.not-front .jumbotron {
  margin-top: -135px;
}
.not-front .jumbotron #slider {
  height: 350px;
  background-size: cover;
  background-position: center center;
}
.not-front .jumbotron #slider .slide {
  height: 100%;
}
.not-front #content-main .story {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}
.block-search {
  width: 290px;
  margin: 7px;
}
#content-top {
  background-color: rgba(245, 245, 245, 0.9);
  overflow: hidden;
  position: relative;
  z-index: 2;
  background: #797a7d;
  text-align: right;
}
#content-top .btn {
  margin: 7px;
}
#content-top .policy {
  text-align: right;
}
#content-top .block {
  display: inline-block;
}
#content-top input {
  font-size: 12px;
  vertical-align: middle;
}
#content-top input[type=text] {
  width: 200px;
  margin: 0 0 0 1em;
  padding: 2px 8px;
  line-height: 1.6;
}
#content-top input[type=submit] {
  width: 75px;
  margin: 0 0 0 -2px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0 3px 3px 0;
  margin-left: -12px;
  line-height: 1.7;
}
.mejs-audio {
  margin-bottom: 1em;
}
.page-node .content-left .buttons {
  margin-top: 2em;
}
#player-icon {
  display: none;
  padding-left: 6px;
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #c7cbcb;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
  background: #0d4d8c;
}
#content-main {
  margin-top: 2em;
}
#content-main h1 {
  margin-top: 0;
}
#content-main img {
  max-width: 100%;
  height: auto;
}
#content-main #map-canvas {
  margin-bottom: 1em;
}
#content-main #map-canvas img {
  max-width: inherit;
  height: auto;
}
#content-main .sticky {
  margin-bottom: 2em;
}
#content-main .sticky .sticky-img {
  text-align: center;
  margin-bottom: 1em;
  padding: 0 15px 15px 0;
}
#content-main .sticky .sticky-story {
  overflow: hidden;
  vertical-align: top;
}
#content-main .page-image {
  text-align: center;
}
#content-main ul.clean {
  list-style-type: none;
  padding: 0;
}
#content-main .story {
  display: table;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #c7cbcb;
}
#content-main .story > div {
  display: table-cell;
  float: none;
  vertical-align: top;
}
#content-main .story .story-img {
  width: 27%;
  display: none;
  padding-right: 30px;
}
#content-main .story h2 {
  margin-top: 0;
}
#content-main .story p {
  margin-bottom: 0;
}
#content-main .story:last-child {
  border-bottom: 0;
}
#content-main .story .body-img {
  display: block;
  text-align: center;
  padding-bottom: 1em;
}
#content-main .story .body {
  display: block;
}
#content-main .story .body p {
  margin-bottom: 1em;
}
#content-main .story .body p:last-child {
  margin-bottom: 0;
}
#content-main .sidebar .isa-now-logo {
  display: block;
  margin: auto;
}
#content-main .sidebar .block h2 {
  font-size: 1.2em;
}
#content-main .sidebar .block ul {
  list-style-type: square;
}
#content-main .block .isa-now h3 {
  margin-bottom: 0;
}
#content-main .block .isa-now > img {
  display: block;
  margin: auto;
}
#content-main .block .isa-now ul {
  list-style-type: none;
  padding: 0;
}
#content-main .block .isa-now li {
  margin-bottom: 15px;
}
#content-main .block .isa-now p {
  font-family: "Helvetica neue", Helvetica, serif;
  color: #8a8c8e;
}
#content-main .twitter-feed {
  margin-top: 2em;
}
#content-main .twitter-feed p {
  padding: 1em;
  border: 1px solid #dadee0;
  border-radius: 3px;
  margin-bottom: 0;
  position: relative;
}
#content-main .twitter-feed p:after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 30px;
  width: 28px;
  height: 25px;
  background: url(../img/twitter-callout.png) top center no-repeat;
}
#content-main .twitter-feed .time-ago,
#content-main .twitter-feed .follow {
  font-style: italic;
  font-size: 12px;
  color: #77787b;
}
#content-main .twitter-feed .time-ago a,
#content-main .twitter-feed .follow a {
  color: #77787b;
}
#content-main .twitter-feed .fa-twitter {
  font-size: 32px;
  float: left;
}
#content-main .twitter-feed .follow {
  float: right;
}
#content-main .gallery {
  margin-top: 1em;
}
#content-footer {
  font-size: 13px;
  background: #77787b;
  color: #dadee0;
  padding: 1em 0;
  margin-top: 2em;
}
#content-footer h4 {
  color: #38383a;
}
#content-footer .col-lg-3 {
  border-right: 1px solid #666;
  margin-right: -1px;
}
#content-footer .content a,
#content-footer .content span.gc-cs-link {
  color: #dadee0;
  text-decoration: none;
  border-bottom: 1px dotted #dadee0;
  font-weight: normal;
}
#content-footer .content a:hover,
#content-footer .content span.gc-cs-link:hover {
  border-bottom-style: solid;
}
#content-footer .content label {
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
}
#content-footer .content ul {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}
#content-footer .content .social-media {
  margin-top: 1em;
}
#content-footer .content .social-media li {
  display: inline-block;
  margin-right: 2px;
}
#content-footer .content .social-media li a {
  border: 0;
  color: #38383a;
}
#content-footer .content .social-media li a:hover {
  border: 0;
}
#content-footer .content .social-media li:last-child {
  margin-right: 0;
}
#content-footer .content .social-media li i {
  font-size: 42px;
  -webkit-transition: color .2s;
}
#content-footer .content .social-media li i:hover {
  color: #636466;
}
#content-footer-secondary {
  padding: .5em;
  color: #77787b;
  background: #e2e0df;
  text-align: center;
  font-style: italic;
}
#content-footer-secondary a {
  color: #77787b;
}
#content-footer-secondary .login,
#content-footer-secondary .logout {
  text-align: right;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px dotted;
}
#content-footer-secondary .region-secondary,
#content-footer-secondary .region-secondary div {
  display: inline;
}
.staff {
  text-align: center;
}
.staff .staff-member {
  text-align: center;
  width: 210px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
  padding: 1em;
  vertical-align: top;
}
.staff .staff-member.on {
  cursor: default;
  z-index: 4;
  border-color: transparent;
}
.staff .staff-member.on img {
  position: relative;
  z-index: 2;
  box-shadow: 0 0 0 4px #0d4d8c;
}
.staff .staff-member.on:hover {
  border-color: transparent;
}
.staff .staff-member:hover {
  border-color: #c7cbcb;
}
.staff .staff-member img {
  margin-bottom: 1em;
  height: auto;
  display: block;
  margin: 0 auto 1em auto;
  border-radius: 90px;
  -webkit-transition: box-shadow 0.4s;
}
.staff .staff-member .name {
  font-weight: bold;
}
.staff .staff-member .email {
  margin-top: .5em;
}
.staff .staff-member.district-member.on .district-0 img {
  box-shadow: 0 0 0 4px #FECA0A;
}
.staff .staff-member.district-member.on .district-5 img {
  box-shadow: 0 0 0 4px #8161aa;
}
.staff .staff-member.district-member.on .district-10 img {
  box-shadow: 0 0 0 4px #70d0f6;
}
.staff .staff-member.district-member.on .district-15 img {
  box-shadow: 0 0 0 4px #f7981d;
}
.staff .staff-member.district-member.on .district-20 img {
  box-shadow: 0 0 0 4px #d63247;
}
.staff .staff-member.district-member.on .district-25 img {
  box-shadow: 0 0 0 4px #008457;
}
.staff .staff-member.district-member.on .district-30 img {
  box-shadow: 0 0 0 4px #8acfb7;
}
.staff .staff-member.district-member.on .district-35 img {
  box-shadow: 0 0 0 4px #d2b068;
}
.staff .staff-member.district-member.on .district-40 img {
  box-shadow: 0 0 0 4px #d8e270;
}
.staff .staff-member.district-member.on .district-45 img {
  box-shadow: 0 0 0 4px #20238d;
}
.staff .staff-overlay {
  display: none;
  box-sizing: content-box;
  margin-top: -1px;
  position: absolute;
  top: 0;
  margin-left: -3em;
  margin-right: -3em;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 164px 1em 1em 1em;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 0 5px -2px #000000;
}
.staff .staff-overlay ul {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.staff .staff-overlay .bio {
  font-size: 13px;
  line-height: 1.4;
  margin-top: 1em;
}
.staff .staff-overlay .label {
  display: inline-block;
  width: 60px;
  color: #9E9E9E;
  font-weight: normal;
  text-align: left;
  font-size: 14px;
  padding: 0;
}
.staff .staff-overlay .close-overlay {
  position: absolute;
  padding: 8px;
  top: 0;
  right: 0;
  line-height: 0;
  cursor: pointer;
}
.staff #staff-curtain {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}
.staff .district-map {
  text-align: center;
}
.staff .district-0 img {
  box-shadow: 0 0 0 4px #FECA0A;
}
.staff .district-5 img {
  box-shadow: 0 0 0 4px #8161aa;
}
.staff .district-10 img {
  box-shadow: 0 0 0 4px #70d0f6;
}
.staff .district-15 img {
  box-shadow: 0 0 0 4px #f7981d;
}
.staff .district-20 img {
  box-shadow: 0 0 0 4px #d63247;
}
.staff .district-25 img {
  box-shadow: 0 0 0 4px #008457;
}
.staff .district-30 img {
  box-shadow: 0 0 0 4px #8acfb7;
}
.staff .district-35 img {
  box-shadow: 0 0 0 4px #d2b068;
}
.staff .district-40 img {
  box-shadow: 0 0 0 4px #d8e270;
}
.staff .district-45 img {
  box-shadow: 0 0 0 4px #20238d;
}
@media (min-width: 768px) {
  #full-nav {
    display: block;
  }
  #full-nav ul {
    text-align: left;
  }
  #mobile-nav {
    display: none;
  }
  .jumbotron #slider .aside {
    padding-right: 10%;
  }
  .jumbotron #slider .jumbotron-nav {
    display: block;
  }
  #content-main .sidebar {
    margin-left: -1px;
    border-left: 1px solid #c7cbcb;
  }
  #content-main .sticky .sticky-img {
    display: table-cell;
    width: 175px;
    padding: 0 30px 15px 0;
  }
  #content-main .sticky .sticky-story {
    display: table-cell;
    vertical-align: top;
  }
  #content-main .story .story-img {
    display: table-cell;
  }
  .sticky {
    display: table;
  }
  .sticky > div {
    float: none;
    display: table-cell;
  }
  .sticky > div:not(:empty) {
    border-bottom: 1px solid #c7cbcb;
    padding-bottom: 1em;
  }
}
@media (max-width: 768px) {
  #mobile-nav {
    cursor: pointer;
    box-shadow: inset -3px 4px 9px -4px #000000;
    background: #636466;
    z-index: 100;
    position: absolute;
    left: 0;
    width: 300px;
    max-width: 95%;
    top: 0;
    height: 47px;
    overflow: hidden;
    margin-left: -250px;
    -webkit-transition: margin-left 0.4s;
  }
  #mobile-nav h2 {
    box-shadow: inset -3px 0px 9px -4px #000000;
    padding: 10px;
    background: #4a4b4c;
    color: #c7cbcb;
  }
  #mobile-nav + .shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: rgba(255, 255, 255, 0.5);
    z-index: 50;
    display: none;
  }
  #mobile-nav.visible {
    bottom: 0;
    margin-left: 0;
    height: auto;
    position: fixed;
  }
  #mobile-nav.visible + .shadow {
    display: block;
  }
  #mobile-nav a {
    color: #c7cbcb;
  }
  #mobile-nav ul.menu > ul {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    overflow: auto;
    margin: 0;
    padding: 0;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
  }
  #mobile-nav ul.menu > ul li {
    cursor: pointer;
    margin: 0;
    display: block;
  }
  #mobile-nav ul.menu > ul li.expanded {
    position: relative;
  }
  #mobile-nav ul.menu > ul li.expanded:after {
    top: 18px;
    border: 5px solid transparent;
    border-left-color: #c7cbcb;
    content: "";
    position: absolute;
    right: 30px;
  }
  #mobile-nav ul.menu > ul li.expanded.open:after {
    border-left-color: transparent;
    border-top-color: #c7cbcb;
    right: 32px;
  }
  #mobile-nav ul.menu > ul li a {
    display: inline-block;
    padding: 10px;
  }
  #mobile-nav ul.menu > ul ul {
    display: none;
    padding-left: 10px;
  }
  #mobile-nav:after {
    position: absolute;
    cursor: pointer;
    content: "";
    border-top: 5px solid #dadee0;
    border-bottom: 14px double #dadee0;
    right: 10px;
    top: 0;
    z-index: 100;
    height: 0;
    width: 30px;
    padding-top: 4px;
    top: 10px;
    margin-top: 0;
  }
  #content-top #block-block-1 {
    display: none;
  }
  #content-top .region-content-top {
    padding: 3px;
  }
  .not-front .jumbotron .aside {
    width: 100%;
  }
  .btn {
    white-space: normal;
  }
}
@media (min-width: 768px) {
  .sidebar-first .content-left {
    border-right: 1px solid #c7cbcb;
  }
  .content-left .story .body-img {
    display: table-cell;
    width: 27%;
    padding-right: 30px;
  }
  .content-left .story .body {
    display: table-cell;
  }
  .content-left .gallery {
    margin-left: 27%;
  }
  .staff {
    text-align: left;
  }
  .staff .staff-overlay {
    left: -5em;
    right: -5em;
  }
  .sidebar ul {
    padding-left: 20px;
  }
}
@media (min-width: 992px) {
  #full-nav ul {
    text-align: left;
  }
  #full-nav .col-md-8 {
    margin-top: 11px;
  }
  #full-nav .logo {
    text-align: right;
  }
  #full-nav .logo #logo {
    padding: .5em 0;
  }
  .not-front .jumbotron {
    margin-top: -85px;
  }
}
@media (min-width: 1200px) {
  #block-views-tweets-block {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
  }
  #content-main {
    /*.row {
  			display:table;
  			> div {
  				vertical-align: top;
  				display:table-cell;
  				float:none;
  				
  			}
  		}*/
  
  }
  #content-main .sidebar {
    padding-bottom: 200px;
  }
  #full-nav ul li {
    font-size: 16px;
  }
  #full-nav ul li a {
    padding: 20px 14px;
  }
  .jumbotron {
    background-position: center -150px;
  }
}
.buttons {
  text-align: right;
  margin: 10px 0;
  padding: 0;
}
.buttons li {
  display: inline-block;
  margin-bottom: 10px;
}
.btn {
  font-family: Georgia,serif;
  font-style: italic;
  padding: .2em 1em;
  margin-left: 1em;
  letter-spacing: .5px;
}
.btn i {
  margin-left: .5em;
}
.btn.btn-primary {
  background-image: none;
  background: #0d4d8c;
  border: 1px solid #123e66;
  color: rgba(245, 245, 245, 0.9);
}
.btn.btn-secondary {
  background-image: none;
  background: #ffd472;
  border: 1px solid #d2a322;
  color: #d2a322;
}
.views-more-link {
  font-family: Georgia,serif;
  font-style: italic;
  padding: .2em 2em .2em 1em;
  margin-left: 1em;
  letter-spacing: .5px;
  background-image: none;
  background: #0d4d8c;
  border: 1px solid #123e66;
  color: rgba(245, 245, 245, 0.9);
  position: relative;
}
.views-more-link:after {
  font-family: "FontAwesome";
  content: "\f138";
  position: absolute;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
#full-nav {
  /* 
	LEVEL ONE
*/

  /* Doesn't work in IE */

  /* 
	LEVEL TWO
*/

  /* 
	LEVEL THREE
*/

}
#full-nav ul.menu > li {
  margin: 0;
  padding: 0;
}
#full-nav ul.menu {
  position: relative;
}
#full-nav ul.menu li {
  float: left;
  zoom: 1;
}
#full-nav ul.menu li:last-child a {
  border-right: none;
}
#full-nav ul.menu li.hover,
#full-nav ul.menu li:hover {
  position: relative;
}
#full-nav ul.menu ul {
  min-width: 220px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
}
#full-nav ul.menu ul li {
  font-weight: normal;
  color: #000;
  float: none;
  display: block;
}
#full-nav ul.menu ul li a {
  border-right: none;
  display: block;
  font-family: "Helvetica neue", helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
  margin: 0 10px;
  border-bottom: 1px solid #c7cbcb;
  padding: 10px 6px;
  white-space: nowrap;
}
#full-nav ul.menu ul li:last-child a {
  border-bottom: 0;
}
#full-nav ul.menu ul ul {
  left: 100%;
  top: 0;
  display: none !important;
}
#full-nav ul.menu li:hover > ul {
  visibility: visible;
}
#full-nav .hover > ul {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 0px 1px 10px -4px #000000;
}
.hover > ul:before {
  position: absolute;
  content: "";
  border: 10px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.9);
  top: -20px;
  left: 39px;
}
.white-popup.video {
  position: relative;
  background: #FFF;
  padding: 40px 20px 20px;
  width: auto;
  max-width: 680px;
  margin: 20px auto;
}
.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}
.white-popup-block.small {
  max-width: 400px;
}
.login-lightbox label {
  width: 35%;
  margin-bottom: 0;
  vertical-align: middle;
}
.login-lightbox input {
  width: 60%;
  vertical-align: middle;
}
.login-lightbox .form-actions {
  text-align: center;
}
.login-lightbox .item-list li {
  display: inline-block;
  font-size: 12px;
  margin: 0 10px 0 0;
}
.item-list .pager li {
  padding: 0;
}
.item-list .pager li.pager-ellipsis {
  display: none;
}
.add-shortcut {
  display: none;
}
.chart {
  display: inline-block;
  vertical-align: top;
  width: 308px !important;
  height: 250px !important;
  margin: 1em 1% 0 1%!important;
}
#charts img {
  margin-top: 1em;
}
.source {
  color: #8a8c8e;
  font-size: .8em;
  font-style: italic;
  margin-left: 4px;
  display: inline-block;
}
.partners {
  text-align: center;
}
.partners .logo {
  display: inline-block;
  text-align: center;
  margin: 2em 1.7em 2em 0em;
}
.partners .logo img {
  margin-bottom: 1em;
}
.program-slideshow {
  background: #000;
  height: 305px;
  overflow: hidden;
  position: relative;
  margin-top: 1em;
}
.program-slideshow .slide {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #FFF;
}
.program-slideshow .slide img {
  display: none;
}
.program-slideshow .slide.on {
  z-index: 1;
  opacity: 1;
}
.program-slideshow .program-prev,
.program-slideshow .program-next {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 305px;
  width: 25%;
  opacity: .5;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */

  -webkit-transition: opacity .5s;
  cursor: pointer;
}
.program-slideshow .program-prev:hover,
.program-slideshow .program-next:hover {
  opacity: .9;
}
.program-slideshow .program-prev span,
.program-slideshow .program-next span {
  min-width: 90px;
  background: url(../img/slider-sprite.png) right -51px no-repeat;
  position: absolute;
  top: 50%;
  height: 100px;
  left: 0;
  right: 0;
  content: "";
  margin-top: -50px;
}
.program-slideshow .program-next {
  right: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* IE10+ */

  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */

}
.program-slideshow .program-next span {
  top: 50%;
  background-position: right -206px;
}
.webform-client-form label {
  display: inline-block;
  width: 245px;
  font-weight: normal;
  vertical-align: top;
  margin-right: 1em;
}
.webform-client-form input[type=text],
.webform-client-form input[type=email] {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.webform-client-form .select-or-other .form-item {
  margin-bottom: 0;
}
.webform-client-form .form-type-checkboxes + .form-type-textfield,
.webform-client-form .form-type-radios + .form-type-textfield {
  margin-top: .5em;
}
.webform-client-form .form-type-checkboxes + .form-type-textfield input,
.webform-client-form .form-type-radios + .form-type-textfield input {
  margin-left: 2.5em;
}
.webform-client-form .form-radios,
.webform-client-form .form-checkboxes {
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
}
.webform-client-form .form-radios .form-type-radio,
.webform-client-form .form-checkboxes .form-type-radio,
.webform-client-form .form-radios .form-type-checkbox,
.webform-client-form .form-checkboxes .form-type-checkbox {
  display: block;
  margin-top: 0;
  width: auto;
}
.webform-client-form .form-type-textfield .element-invisible {
  position: relative !important;
  visibility: hidden;
}
.webform-client-form input[type=radio],
.webform-client-form input[type=checkbox] {
  margin: 0 5px 0 0;
}
.webform-client-form .form-actions {
  text-align: center;
}
.webform-client-form .form-actions .btn {
  font-size: 1.2em;
}
@media (max-width: 992px) {
  .webform-client-form label {
    display: block;
    width: 100%;
  }
}
