.marketSnapshot.bcPL {
  margin: auto;
  max-width: 100%;
}
.marketSnapshot.bcPL td {
  font-size: 14px;
}
.marketSnapshot.bcPL .quoteTable th {
  color: #0D4D8C;
}
.attribution {
  padding: 3px;
  font-size: 12px;
  margin-bottom: 1em;
}
